body {
    background-color: white;
    color: black;
}

#grid {
    width: 600px;
    /* Adjust this value to make the grid more square */
    margin: 0 auto;
    /* Center the grid horizontally */
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    display: inline-block;
}